/*! HTML5 Boilerplate v6.1.0 | MIT License | https://html5boilerplate.com/ */

/*
 * What follows is the result of much research on cross-browser styling.
 * Credit left inline and big thanks to Nicolas Gallagher, Jonathan Neal,
 * Kroc Camen, and the H5BP dev community and team.
 */

/* ==========================================================================
   Base styles: opinionated defaults
   ========================================================================== */

html {
    color: #222;
    font-size: 1em;
    line-height: 1.4;
}

/*
 * Remove text-shadow in selection highlight:
 * https://twitter.com/miketaylr/status/12228805301
 *
 * Vendor-prefixed and regular ::selection selectors cannot be combined:
 * https://stackoverflow.com/a/16982510/7133471
 *
 * Customize the background color to match your design.
 */

::-moz-selection {
    background: #b3d4fc;
    text-shadow: none;
}

::selection {
    background: #b3d4fc;
    text-shadow: none;
}

/*
 * A better looking default horizontal rule
 */

hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
    margin: 1em 0;
    padding: 0;
}

/*
 * Remove the gap between audio, canvas, iframes,
 * images, videos and the bottom of their containers:
 * https://github.com/h5bp/html5-boilerplate/issues/440
 */

audio,
canvas,
iframe,
img,
svg,
video {
    vertical-align: middle;
}

/*
 * Remove default fieldset styles.
 */

fieldset {
    border: 0;
    margin: 0;
    padding: 0;
}

/*
 * Allow only vertical resizing of textareas.
 */

textarea {
    resize: vertical;
}

/* ==========================================================================
   Browser Upgrade Prompt
   ========================================================================== */

.browserupgrade {
    margin: 0.2em 0;
    background: #ccc;
    color: #000;
    padding: 0.2em 0;
}

/* ==========================================================================
   Author's custom styles
   ========================================================================== */
/*°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° Utility °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/
*{
  margin: 0;
  padding: 0;
}
body{
  background-color: rgba(188,143,143,0.4);
}
header, main, footer{
  width: 90%;
}
form{
  display: none;
}
.flex{
  display: flex;
}
.column{
  display: flex;
  flex-direction: column;
}
.align{
  align-items: center;
}
.flex-end{
  justify-content: flex-end;
}


/*°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° End Utility °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/
/*°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° Common Rules °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/
#logo{
  width: 100%;
}
img{
  width: 100%;
}
.none{
  display: none;
}
/*°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° End Common Rules°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/
h1, h2, h4{
  text-align: center;
  color: white;
}
h1{
  font-family: 'Parisienne', cursive;
  font-size: 4em;
}
h2, h3, h4{
  font-family: 'Josefin Slab', serif;
  font-size: 2em;
}
h3, h4{
  margin-bottom: 1em;
  border-bottom: 1px solid white;
}
p{
  font-family: 'Source Sans Pro', sans-serif;
  text-align: center;
  background-color: white;
}
span{
  font-family: 'Parisienne', cursive;
  font-size: 2em;
}
main section:nth-child(2) article div div a{
  text-decoration: none;
  font-family: 'Parisienne', cursive;
  font-size: 2em;
  color: white;
}
/*°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° Mobile first °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/
/* Nav section ~~~~~~~~~~~~~~~~~~~~~~~~*/
nav{
  background-color: rgba(255, 255, 255, 0.8);
  justify-content: space-between;
  position: fixed;
  top: 0;
  height: 20vh;
  width: 100%
}
nav aside{
  width: 20%;
}

/* End Nav section ~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Header section ~~~~~~~~~~~~~~~~~~~~~~~~*/
header{
  background-color: rosybrown;
  margin-top: 20vh;
}
header ul li{
  display: none;
}
/* End Header section ~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Main section ~~~~~~~~~~~~~~~~~~~~~~~~*/
main{

}
main section:nth-child(2) h3{
  width: 100%;
  background-color: white;
  margin-top: 10%;
}
main section:nth-child(2) article div{
  height: 10vh;
  background-color: rosybrown;
}
main section:nth-child(2) article div div{
  width: 40%;
  justify-content: space-between;
  align-items: center;
  margin-right: 1em;
}
/* End Main section ~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Footer section ~~~~~~~~~~~~~~~~~~~~~~~~*/
footer{
  background-color: lightgrey;
  height: 40vh;
}
/* End Footer section ~~~~~~~~~~~~~~~~~~~~~~~~*/
/*°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° End Mobile first °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/
/*°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° tablette °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/
@media only screen and (min-width: 600px) {
  body{
    background-color: lightblue;
  }
/* Nav section tablette ~~~~~~~~~~~~~~~~~~~~~~~~*/
#menu{
  display: none;
}

nav aside:nth-child(2){
  width: 50%;
}
form{
  display: block;
  justify-content: space-around;
  width: 100%;
}
/* End Nav section tablette ~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Header section tablette ~~~~~~~~~~~~~~~~~~~~~~~~*/
header{
  background-image: url(../img/cookie.jpg);
  background-size: cover;
  width: 100%;
  height: 30vh;
}
/* End Header section tablette ~~~~~~~~~~~~~~~~~~~~~~~~*/
/* Main section tablette ~~~~~~~~~~~~~~~~~~~~~~~~*/

main section:nth-child(2){
  background-color: crimson;
}
main section:nth-child(2) div{
flex-direction: row;
flex-wrap: wrap;
justify-content: space-around;


}
main section:nth-child(2) article{
  width: 45%;
  background-color: yellow;

}
/* End Main section tablette ~~~~~~~~~~~~~~~~~~~~~~~~*/
}
/*°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° End teblette °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/
/*°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° Pc °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/
@media only screen and (min-width: 1200px){
  body{
    background-color: lightgrey;
  }
  #menu{
    display: none;
  }
}
/*°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°° End Pc °°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°°*/
/* ==========================================================================
   Helper classes
   ========================================================================== */

/*
 * Hide visually and from screen readers
 */

.hidden {
    display: none !important;
}

/*
 * Hide only visually, but have it available for screen readers:
 * https://snook.ca/archives/html_and_css/hiding-content-for-accessibility
 *
 * 1. For long content, line feeds are not interpreted as spaces and small width
 *    causes content to wrap 1 word per line:
 *    https://medium.com/@jessebeach/beware-smushed-off-screen-accessible-text-5952a4c2cbfe
 */

.visuallyhidden {
    border: 0;
    clip: rect(0 0 0 0);
    height: 1px;
    margin: -1px;
    overflow: hidden;
    padding: 0;
    position: absolute;
    width: 1px;
    white-space: nowrap; /* 1 */
}

/*
 * Extends the .visuallyhidden class to allow the element
 * to be focusable when navigated to via the keyboard:
 * https://www.drupal.org/node/897638
 */

.visuallyhidden.focusable:active,
.visuallyhidden.focusable:focus {
    clip: auto;
    height: auto;
    margin: 0;
    overflow: visible;
    position: static;
    width: auto;
    white-space: inherit;
}

/*
 * Hide visually and from screen readers, but maintain layout
 */

.invisible {
    visibility: hidden;
}

/*
 * Clearfix: contain floats
 *
 * For modern browsers
 * 1. The space content is one way to avoid an Opera bug when the
 *    `contenteditable` attribute is included anywhere else in the document.
 *    Otherwise it causes space to appear at the top and bottom of elements
 *    that receive the `clearfix` class.
 * 2. The use of `table` rather than `block` is only necessary if using
 *    `:before` to contain the top-margins of child elements.
 */

.clearfix:before,
.clearfix:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}

.clearfix:after {
    clear: both;
}

/* ==========================================================================
   EXAMPLE Media Queries for Responsive Design.
   These examples override the primary ('mobile first') styles.
   Modify as content requires.
   ========================================================================== */

@media only screen and (min-width: 35em) {
    /* Style adjustments for viewports that meet the condition */
}

@media print,
       (-webkit-min-device-pixel-ratio: 1.25),
       (min-resolution: 1.25dppx),
       (min-resolution: 120dpi) {
    /* Style adjustments for high resolution devices */
}

/* ==========================================================================
   Print styles.
   Inlined to avoid the additional HTTP request:
   https://www.phpied.com/delay-loading-your-print-css/
   ========================================================================== */

@media print {
    *,
    *:before,
    *:after {
        background: transparent !important;
        color: #000 !important; /* Black prints faster */
        -webkit-box-shadow: none !important;
        box-shadow: none !important;
        text-shadow: none !important;
    }

    a,
    a:visited {
        text-decoration: underline;
    }

    a[href]:after {
        content: " (" attr(href) ")";
    }

    abbr[title]:after {
        content: " (" attr(title) ")";
    }

    /*
     * Don't show links that are fragment identifiers,
     * or use the `javascript:` pseudo protocol
     */

    a[href^="#"]:after,
    a[href^="javascript:"]:after {
        content: "";
    }

    pre {
        white-space: pre-wrap !important;
    }
    pre,
    blockquote {
        border: 1px solid #999;
        page-break-inside: avoid;
    }

    /*
     * Printing Tables:
     * http://css-discuss.incutio.com/wiki/Printing_Tables
     */

    thead {
        display: table-header-group;
    }

    tr,
    img {
        page-break-inside: avoid;
    }

    p,
    h2,
    h3 {
        orphans: 3;
        widows: 3;
    }

    h2,
    h3 {
        page-break-after: avoid;
    }
}
